<style>
:root {
  --r-background-color: darkgreen;
}
body {
    background-color: darkgreen;
}
.slides {
    font-size: 0.75em;
}
.slides, .reveal {
    text-align: left !important;
}
.reveal ul {
    display: block;
}
.reveal ol {
    display: block;
}

figcaption {
    font-size: 0.6em !important;
    font-style: italic !important;
}

table {
    font-size: 0.80em !important;
}

.subtitle {
    font-style: italic !important;
}

.date {
    font-size: 0.75em !important;
}

.sideimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 !important;
}
</style>
